{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "semi": ["error", "always"],
    "no-await-in-loop": "off",
    "unicorn/consistent-destructuring": "off",
    "unicorn/no-array-reduce": "off",
    "unicorn/no-lonely-if": "off",
    "indent": ["error", 4]
  }
}
